<form name="doctorForm" ng-submit=$ctrl.save("doctor") novalidate>
    <h1>添加医生</h1>
    <h3>名称：</h3>
    <input type="text" name="doctorName" placeholder="请输入医生名字" ng-model=$ctrl.doctor.name
           required/>
    <span ng-show=doctorForm.doctorName.$error.required>* 必填项</span>

    <h3>职位：</h3>
    <input type="text" name="doctorPosition" placeholder="请输入医生职位" ng-model=$ctrl.doctor.position
           required/>
    <span ng-show=doctorForm.doctorPosition.$error.required>* 必填项</span>

    <h3>职称：</h3>
    <input type="text" name="doctorTitle" placeholder="请输入医生职称" ng-model=$ctrl.doctor.title
           required/>
    <span ng-show=doctorForm.doctorTitle.$error.required>* 必填项</span>

    <h3>简历：</h3>
    <textarea name="doctorResume" placeholder="请输入医生简历" ng-model=$ctrl.doctor.resume></textarea>

    <h3>擅长领域：</h3>
    <textarea name="doctorField" placeholder="请输入擅长领域" ng-model=$ctrl.doctor.field></textarea>

    <h3>隶属科室</h3>
    <select name="departmentList" title="隶属科室" ng-model=$ctrl.doctor.department
            ng-options="item.did as item.name for item in $ctrl.departmentSelect" required></select>
    <span ng-show=doctorForm.departmentList.$error.required>* 必填项</span>

    <br/><br/>
    <button type="submit" ng-disabled="doctorForm.$invalid">提交</button>
</form>

<h3>医生图片</h3>
<input type="file" file-model="myFile" multiple>
<button ng-click=$ctrl.uploadFile()>上传</button>

<div ng-repeat="item in $ctrl.album">
    <img ng-src="{{'file/image/temp/' + item}}">
    <button ng-click=$ctrl.deleteFile(item)>删除</button>
</div>