<div ng-show={{$ctrl.showHospital}}>
    <h1>名称：</h1>
    <input type="text" required value="{{$ctrl.hospital.name}}" ng-maxlength="16"/>

    <h3>简介：</h3>
    <textarea>{{$ctrl.hospital.description}}</textarea>

    <h2>成立时间：</h2>
    <input type="date" value="{{$ctrl.hospital.founding}}">

    <h2>地址：{{$ctrl.hospital.address}}</h2>
    <input type="text" value="{{$ctrl.hospital.address}}">

    <h2>电话：{{$ctrl.hospital.contact}}</h2>
    <input type="text" value="{{$ctrl.hospital.contact}}">

    <h2>坐标：[{{$ctrl.hospital.axisX}} , {{$ctrl.hospital.axisY}}]</h2>

    <h2>医院图片</h2>
    <input type="file" file-model="myFile">
    <div>
        <img ng-src="{{imageUrl}}" style="max-width:300px;max-height:300px;margin:0 auto;display:block;"/>
    </div>

    <button ng-click=$ctrl.uploadFile()>嗯嗯</button>

</div>

<div ng-show={{$ctrl.showDepartment}}>
    <h1>名称：</h1>
    <input type="text" required value="{{$ctrl.department.name}}" ng-maxlength="16"/>

    <h3>简介：</h3>
    <textarea>{{$ctrl.department.description}}</textarea>
</div>

<div ng-show={{$ctrl.showDoctor}}>
    <h1>名称：</h1>
    <input type="text" required value="{{$ctrl.doctor.name}}" ng-maxlength="16"/>

    <h3>职位：</h3>
    <textarea>{{$ctrl.doctor.position}}</textarea>
</div>