<div ng-show={{$ctrl.showHospital}}>
    <form name="hospitalForm" ng-submit=$ctrl.save("hospital") novalidate>
        <h2>名称：</h2>
        <input type="text" name="hospitalName" placeholder="请输入医院名称" ng-model=$ctrl.hospital.name ng-maxlength="20"
               required/>
        <span ng-show=hospitalForm.hospitalName.$error.required>* 必填项</span>
        <span ng-show=hospitalForm.hospitalName.$error.maxlength>超出最大输入长度</span>

        <h2>简介：</h2>
        <textarea name="hospitalDescription" placeholder="请输入医院简介" ng-model=$ctrl.hospital.description ng-minlength="14"
                  required></textarea>
        <span ng-show=hospitalForm.hospitalDescription.$error.required>* 必填项</span>
        <span ng-show=hospitalForm.hospitalDescription.$error.minlength>最少输入14个字</span>

        <h2>成立时间：</h2>
        <input type="date" name="hospitalFounding" ng-model=$ctrl.hospital.founding required>
        <span ng-show=hospitalForm.hospitalFounding.$error.required>* 必选项</span>

        <h2>地址：</h2>
        <input type="text" name="hospitalAddress" placeholder="请输入医院地址" ng-model=$ctrl.hospital.address required>
        <span ng-show=hospitalForm.hospitalAddress.$error.required>* 必填项</span>

        <h2>电话：</h2>
        <input type="text" name="hospitalPhone" placeholder="请输入医院电话" ng-model=$ctrl.hospital.contact>

        <h2>坐标：</h2>
        <input type="number" name="hospitalAxisX" placeholder="经度" ng-model=$ctrl.hospital.axisX required>  -
        <input type="number" name="hospitalAxisY" placeholder="纬度" ng-model=$ctrl.hospital.axisY required>
        <span ng-show="hospitalForm.hospitalAxisX.$error.required || hospitalForm.hospitalAxisY.$error.required" >* 必填项</span>

        <h2>医院图片</h2>
        <input type="file" file-model="myFile"><button ng-click=$ctrl.uploadFile()>上传</button>

        <br/><br/>
        <button type="submit" ng-disabled="hospitalForm.$invalid">提交</button>
        <!--<div>-->
        <!--<img ng-src=$ctrl.uploadImageUrl style="max-width:300px;max-height:300px;margin:0 auto;display:block;"/>-->
        <!--</div>-->
    </form>
</div>

<div ng-show={{$ctrl.showDepartment}}>
    <h1>名称：</h1>
    <input type="text" required value="{{$ctrl.department.name}}" ng-maxlength="16"/>

    <h3>简介：</h3>
    <textarea>{{$ctrl.department.description}}</textarea>

    <br/>
    <button ng-click=$ctrl.save("department")>保存</button>
</div>

<div ng-show={{$ctrl.showDoctor}}>
    <h1>名称：</h1>
    <input type="text" required value="{{$ctrl.doctor.name}}" ng-maxlength="16"/>

    <h3>职位：</h3>
    <textarea>{{$ctrl.doctor.position}}</textarea>

    <br/>
    <button ng-click=$ctrl.save("doctor")>保存</button>
</div>