<div>
    <div>
        <img ng-src="{{$ctrl.focusImage}}">
    </div>
    <div>
        <div>
            <h1>{{$ctrl.hospital.name}}</h1>
        </div>
        <div>
            <h5>成立时间：</h5>
            <h4>{{$ctrl.hospital.founding}}</h4>
        </div>
    </div>
    <hr>
    <div>
        <p>{{$ctrl.hospital.description}}</p>
    </div>
    <hr>
    <div>
        <h3>{{$ctrl.hospital.contact}}</h3>
    </div>
    <hr>
    <div>
        <h3>{{$ctrl.hospital.address}}</h3>
    </div>
</div>