<header id="top"></header>
<div class="page-header text-center">
    <h1>医院</h1>
</div>
<button ng-click="$ctrl.edit('hospital', {})" type="button" class="btn btn-link">新增</button>
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>姓名</th>
            <th>地址</th>
            <th>电话</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="hospital in $ctrl.hospitals">
            <td>{{hospital.hid}}</td>
            <td>
                <button ng-click="$ctrl.toDetail('#/Hospital', hospital)" type="button" class="btn btn-link">
                    {{hospital.name}}
                </button>
            </td>
            <td>{{hospital.address}}</td>
            <td>{{hospital.contact}}</td>
            <td>
                <button ng-click="$ctrl.edit('hospital', hospital)" type="button" class="btn btn-primary btn-sm">
                    编辑
                </button>
                <button ng-click="$ctrl.showConfirmModal('hospital', hospital.hid, '是否删除 '+ hospital.name + ' ?')"
                        type="button"
                        class="btn btn-danger btn-sm"
                        data-toggle="modal" data-target="#confirmModal">
                    删除
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="page-header text-center">
    <h1>科室</h1>
</div>
<button ng-click="$ctrl.edit('department', {})" type="button" class="btn btn-link">新增</button>
<button ng-click="$ctrl.showFileUploadModal()" type="button" class="btn btn-link">批量导入</button>
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>名称</th>
            <th>父科室</th>
            <th>隶属医院</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="department in $ctrl.departments">
            <td>{{department.did}}</td>
            <td>
                <button ng-click="$ctrl.toDetail('#/Department', department)" type="button" class="btn btn-link">
                    {{department.name}}
                </button>
            </td>
            <td>{{department.parent}}</td>
            <td>{{department.hospitalName}}</td>
            <td>
                <button ng-click="$ctrl.edit('department', department)" type="button" class="btn btn-primary btn-sm">
                    编辑
                </button>
                <button ng-click="$ctrl.showConfirmModal('department', department.did, '是否删除 '+ department.name + ' ?')"
                        type="button"
                        class="btn btn-danger btn-sm"
                        data-toggle="modal" data-target="#confirmModal">
                    删除
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="page-header text-center">
    <h1>医生</h1>
</div>
<button ng-click="$ctrl.edit('doctor', {})" type="button" class="btn btn-link">新增</button>
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>姓名</th>
            <th>职称</th>
            <th>岗位</th>
            <th>隶属科室</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="doctor in $ctrl.doctors">
            <td>{{doctor.id}}</td>
            <td>
                <button ng-click="$ctrl.toDetail('#/Doctor', doctor)" type="button" class="btn btn-link">
                    {{doctor.name}}
                </button>
            </td>
            <td>{{doctor.title}}</td>
            <td>{{doctor.position}}</td>
            <td>{{doctor.departmentName}}</td>
            <td>
                <button ng-click="$ctrl.edit('doctor', doctor)" type="button" class="btn btn-primary btn-sm">
                    编辑
                </button>
                <button ng-click="$ctrl.showConfirmModal('doctor', doctor.id, '是否删除 '+ doctor.name + ' ?')"
                        type="button"
                        class="btn btn-danger btn-sm"
                        data-toggle="modal" data-target="#confirmModal">
                    删除
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- 模态框（确认） -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalTitle"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="confirmModalTitle">{{ $ctrl.confirmModalTitle }}</h4>
            </div>
            <div class="modal-body">{{ $ctrl.confirmModalBody }}</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ $ctrl.cancelButtonText }}</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="$ctrl.delete()">{{
                    $ctrl.confirmButtonText }}
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!-- 模态框（文件上传） -->
<div class="modal fade" id="fileUploadModal" tabindex="-1" role="dialog" aria-labelledby="fileUploadModalTitle"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="fileUploadModalTitle">{{ $ctrl.fileUploadModalTitle }}</h4>
            </div>
            <div class="modal-body">
                <p class="alert alert-info">请按模板格式填写Excel文件后上传</p>
                <input type="file" file-model="myFile">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ $ctrl.cancelButtonText }}</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="$ctrl.batchInsert()">
                    {{ $ctrl.fileUploadButtonText }}
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>


<!-- 返回顶部 -->
<div class="text-right">
    <a href="#top" class="btn btn-primary btn-sm"> 返回顶部 </a>
</div>
